# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django static/media files (jika nanti ada)
static/
media/

# IDEs
.vscode/
.idea/
